/* INICIO RESETS */

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, 
a, img, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, footer, header, nav, section, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, 
footer, header, nav, section {
	display: block;
}


ol, ul {
	list-style: none;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}

form {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0; 
    padding: 0;
    white-space: normal; 
    *margin-left: -7px; 
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* FIM RESETS */


/* INICIO NAVBAR */

nav{
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 4px rgba(148, 148, 148, .3);
}

nav ul{
    display: flex;
    justify-content: flex-end;
    margin: 0 5em;
}

nav ul li{
    margin: 0 1em;
    font-weight: bold;
    color: #292929;
    cursor: pointer;
    transition: ease-in-out .2s;
}

nav ul li:hover{
    color: #FF9B00;
}

.logo{
    margin: 0 5em;
}

/* FIM NAVBAR */


/* INICIO NOTICIAS SECTION */

.container{
    width: 900px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.container-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    box-shadow: -2px 4px 4px rgba(148, 148, 148, .3);
}

/* FIM NOTICIAS SECTION */